#section-calculator {
    height: 100%;
}

#calculator-result-bar {
    position: relative;
}

.calculator-result-marker {
    position: absolute;
    bottom: 100%;
    left: 0%;
    transition: all 1s;
    font-size: 2.5rem;
}

#calculator-result-value {
    font-size: 0.65rem;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#section-calculator .calculator-wrapper {
    width: 100%;
    @include media-breakpoint-up(lg) {
        max-width: 50%;
    }
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
    ...
}

@include media-breakpoint-up(lg) {
    ...
}

@include media-breakpoint-up(xl) {
    ...
}

@include media-breakpoint-up(xxl) {
    ...
}