html,
body {
    height: 100vh;
}

main {
    height: 100vh;
}

#section-calculator {
    height: 100%;
}

#section-calculator .calculator-wrapper {
    width: 100%;
    max-width: 50%;
}

#calculator-result-bar {
    position: relative;
}

.calculator-result-marker {
    position: absolute;
    bottom: 100%;
    left: 0%;
    transition: all 1s;
}
